@import "tailwindcss";

:root {
  --primary-text-color: #323338;
  --secondary-text-color: #676879;
  --layout-border-color: #d0d4e4;
  --primary-selected-color: #cce4ff;
  --inverted-color-background: #323338;
  --text-color-on-inverted: #ffffff;
  --ui-background: #f6f7fb;
}

@theme inline {
  --font-sans: var(--font-figtree);
  --color-primary-text: var(--primary-text-color);
  --color-secondary-text: var(--secondary-text-color);
  --color-layout-border: var(--layout-border-color);
  --color-primary-selected: var(--primary-selected-color);
  --color-ui-bg: var(--ui-background);
}

body {
  background: #ffffff;
  color: var(--primary-text-color);
  font-family: var(--font-figtree), sans-serif;
}
